<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Base de donnée de jeu de rôle{% endblock %}</title>
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    >
</head>
<body>
    <main class="container">
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Accueil</a></li>
            </ul>
            <ul>
                <li>
                {% if 'discord' in oauth_ok %}
                    <details class="dropdown">
                        {% if current_user.is_authenticated %}
                            <summary>{{ current_user.username }}</summary>
                            <ul class="dropdown">
                                <li><a href="{{ url_for('user.logout') }}">Se déconnecter</a></li>
                            </ul>
                        {% else %}
                            <summary>Se connecter</summary>
                            <ul class="dropdown">
                                {% if use_classic_login %}
                                    <li><a href="{{ url_for('user.login') }}">Se connecter</a></li>
                                    <li><a href="{{ url_for('user.register') }}">S'inscrire</a></li>
                                {% endif %}
                                <li><a href="{{ url_for('oauth.login_discord') }}">Se connecter avec Discord</a></li>
                            </ul>
                        {% endif %}
                    </details>
                {% endif %}
                </li>
            </ul>
        </nav>
    {% block content %}
    {% endblock %}
    </main>
</body>
</html>